li {
  list-style: none;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.canvas {
  background-color: #ffffff;
  border: 1px solid #8a8a8a;
  border-radius: 20px;
}

.colors,
.panels,
.panel {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.color {
  width: 50px;
  height: 50px;
  background-color: #222222;
  border-radius: 50%;
}

.colorPicker {
  height: 50px;
}

.brushPanel {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brushSizeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #222222;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}

.brushSize {
  background-color: #222222;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.brushRange {
  background-color: transparent;
}

.panelBtn {
  all: unset;
  width: 200px;
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
  background-color: #222222;
  color: #ffffff;
}

.panelBtn:hover {
  background-color: #eb3b5a;
}

.draw,
.fill,
.brush,
.eraser,
.navigator,
.undo,
.undo,
.clear,
.download {
  background-color: #eb3b5a;
}

.navigatorImg {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  margin-top: 15px;
  background-color: #ffffff;
}

.navImg {
  width: 100%;
  height: 100%;
}

.active {
  background-color: #eb3b5a;
}

.textInput {
  box-sizing: border-box;
  all: unset;
  width: 200px;
  padding: 15px 0;
  font-size: 15px;
  border: none;
  text-align: center;
  background-color: #f1f1f1;
}
